
<div class="border-2 border-dashed border-black bg-green-100 font-bold p-2 flex">
    <div class="grow">
        <h3 class="text-3xl m-2">{{selected_bank.bank}}({{selected_bank.bank_code}}){{selected_branch.branch}}</h3>
        <div class="flex">
            <p class="text-xl m-2 font-normal">分行代碼：<span>{{selected_branch.branch_code}}</span></p>
            <button class="m-2 bg-green-500 border border-black px-2 py-1 rounded-md text-white hover:bg-green-300" x-text="copyCodeText" @click="copyCode"></button>
        </div>
        <p class="text-xl m-2 font-normal">地址：<span>{{selected_branch.address}}</span></p>
        <p class="text-xl m-2 font-normal">電話：<span>{{selected_branch.tel}}</span></p>
    </div>
    <div class="justify-self-end self-end font-normal text-green-900">
        <p>資料來源：
            <a href="https://data.gov.tw/dataset/6041">政府資料開放平台</a>
        </p>
    </div>
</div>
<div class="flex">
    <a href="{% url 'index' %}" class="border border-black my-2 px-2 py-1 rounded-md text-xl">重新查詢</a>
    <button class="border border-black m-2 px-2 py-1 rounded-md bg-blue-500 text-white text-xl hover:bg-blue-200" @click="copyURL" x-text="copyButtonText"></button>
</div>
