{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台灣銀行代碼查詢</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="{% static 'scripts/app.js' %}" defer></script>

</head>
<body>
    <main class="container my-2 mx-auto">
        <div class="mx-2 px-2"
            x-data="bankSearch()"
            data-banks="{{ bank_list|safe }}"
            data-branches="{{ branch_list|safe }}"
            data-selected-bank="{% if selected_bank %}{{ selected_bank|safe }}{% else %}null{% endif %}"
            data-selected-branch="{% if selected_branch %}{{ selected_branch|safe }}{% else %}null{% endif %}">
            <div class="flex gap-2 text-gray-500">
                <p>powered by</p>
                <a href="https://5xcampus.com/">5xCampus</a>
            </div>
            <h1 class="text-5xl font-thin my-2">台灣銀行代碼查詢</h1>
            <div class="flex gap-2">
                <div class="flex flex-col relative" @click.away="showbank = false">
                    <label for="searchbank">銀行名稱</label>
                    <input type="text" x-model="searchbank" :placeholder="bankplaceholder" class="border border-gray-500 p-2 text-lg w-auto" @click="showbank = true" @focus="clearSearch">
                    <div class="relative mt-1">
                        <ul x-show="showbank" class="absolute border border-gray-500 max-h-60 overflow-y-auto bg-white w-full z-10">
                            <template x-for="bank in filteredBanks" :key="bank.code">
                                <li @click="selectBank(bank)" class="cursor-pointer p-2 hover:bg-gray-200" x-text="`${bank.code} ${bank.title}`"></li>
                            </template>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col relative" @click.away="showbranch = false">
                    <label for="searchbranch">分行名稱</label>
                    <input type="text" x-model="searchbranch" :disabled="!selectedBankCode" :placeholder="branchplaceholder" class="border border-gray-500 p-2 text-lg w-auto" :class="!selectedBankCode ? 'bg-gray-200' : 'bg-white'" @click="showbranch = true" @focus="clearBranchSearch">
                    <div class="relative mt-1">
                        <ul x-show="showbranch" class="absolute border border-gray-500 max-h-60 overflow-y-auto bg-white w-full z-10">
                            <template x-for="branch in filteredBranches" :key="branch.code">
                                <li @click="selectBranch(branch)" class="cursor-pointer p-2 hover:bg-gray-200" x-text="branch.title"></li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="text-gray-400">可使用下拉選單或直接輸入關鍵字查詢</p>
            <div x-show="showDetail">
                <div class="border-2 border-dashed border-black bg-green-100 font-bold p-2 flex">
                    <div class="grow">
                        <h3 class="text-3xl m-2" x-text="`${selectedBank.title} (${selectedBank.code}) ${selectedBranch.title}`"></h3>
                        <div class="flex">
                            <p class="text-xl m-2 font-normal">分行代碼：<span x-text="selectedBranch.code"></span></p>
                            <button class="m-2 bg-green-500 border border-black px-2 py-1 rounded-md text-white hover:bg-green-300" x-text="copyCodeText" @click="copyCode"></button>
                        </div>
                        <p class="text-xl m-2 font-normal">地址：<span x-text="selectedBranch.address"></span></p>
                        <p class="text-xl m-2 font-normal">電話：<span x-text="selectedBranch.tel"></span></p>
                    </div>
                    <div class="justify-self-end self-end font-normal text-green-900">
                        <p>資料來源：
                            <a href="https://data.gov.tw/dataset/6041">政府資料開放平台</a>
                        </p>
                    </div>
                </div>
                <div class="flex">
                    <a href="{% url 'index' %}" class="border border-black my-2 px-2 py-1 rounded-md text-xl">重新查詢</a>
                    <button class="border border-black m-2 px-2 py-1 rounded-md bg-blue-500 text-white text-xl hover:bg-blue-200" @click="copyURL" x-text="copyButtonText"></button>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
